<!DOCTYPE html>
<html>
  <head>
    <title>Swingmirror.io</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico"/>
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="page-wrapper">
        <h1 style="margin-top: 50px">Welcome to Swing Mirror</h1>
        <% if (locals.error === 'not_found' && locals.broadcastId) { %>
          <p class="error">
            We couldn't find a broadcaster with code <%= locals.broadcastId %>. Check to
            make sure that you typed it correctly.
          </p>
        <% } %>
        <p>
          Enter broadcaster code:
        </p>
        <form action="/watch" method="GET">
          <input
            autofocus
            type="text"
            name="broadcastId"
            value="<%= locals.broadcastId || '' %>"
          />
          <button type="submit">
            Submit
          </button>
        </form>
        <p>
        </p>
      </div>
    </main>

    <footer>
      <div class="page-wrapper">
        <p>
          Swing Mirror lets you film your golf swing and view it on multiple
          screens. Use the
          <a href="https://swingapps.io">Swing Mirror iOS app</a> as the
          broadcaster. Then come here and enter the code you get in the iOS app.
        </p>
        <p>
          All devices need a working Internet connection.
        </p>
      </div>
    </footer>
  </body>
</html>
