<!DOCTYPE html>
<html>
  <head>
    <title>Swingmirror.io</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico"/>
    <link href="/styles.css" rel="stylesheet" />
    <script>
        window.broadcastId = '<%= broadcastId %>';
    </script>
  </head>
  <body>
    <video autoplay muted playsinline></video>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/watch.js"></script>
  </body>
</html>
