input[type='range'] {
  -webkit-appearance: none;
  all: unset;
  width: 100%;
  border: none;
  background: repeating-linear-gradient(
    -90deg,
    transparent,
    transparent 15px,
    rgba(255, 255, 255, 0.1) 15px,
    rgba(255, 255, 255, 0.1) 18px
  );
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 2px;
  background: currentColor;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
