html {
  overflow: hidden;
  height: 100%;
}

video {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
}

body {
}

.broadcast-id {
  background-color: #fff;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 10px;
  color: #000;
}
