:root {
  --border-radius: 4px;
  --content-width: 800px;
  --header-min-height: 75px;
  --footer-min-height: 115px;
}

html {
  background-color: #000;
  color: #f5f5f5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: underline;
}

video.full-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
  transition: all 0.1s;
  background-color: rgba(0, 0, 0, 0.1);
}

.error {
  border: 2px solid currentColor;
  border-radius: var(--border-radius);
  border-color: currentColor;
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-top;
}

.error svg {
  margin-right: 10px;
  flex-shrink: 0;
}

.page-wrapper {
  max-width: var(--content-width);
  padding: 0 15px;
  margin: 0 auto;
}

button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid currentColor;
  padding: 7.5px 15px;
  font-size: 15px;
  line-height: 20px;
  border-radius: var(--border-radius);
  user-select: none;
  background-color: #000;
  color: currentColor;
}

button.reset {
  all: unset;
  cursor: pointer;
  line-height: 0;
}

nav {
  min-height: 50px;
  padding: 20px 0;
  margin-bottom: 50px;
}

main {
  text-align: center;
  margin-bottom: 50px;
}

main h1 {
  margin-top: 50px;
}

main .tagline {
  margin-bottom: 30px;
}
@media (orientation: landscape) and (max-width: 900px) {
  .page-wrapper {
    padding: 0 30px;
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }
  main {
    margin-bottom: 30px;
  }
  main h1 {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  main .tagline {
    margin-bottom: 20px;
  }
}

footer {
  opacity: 0.5;
}

code {
  color: currentColor;
  font-weight: bold;
}

p {
  margin-top: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 20px;
  margin: 0 0 10px;
}

h1 i {
  font-style: normal;
  color: #427aac;
}

.start-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  align-items: flex-top;
}

@media (max-width: 500px) {
  .start-boxes p {
    font-size: 14px;
  }
  .start-boxes h2 {
    font-size: 18px;
  }
}

.start-box {
  text-align: center;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 250ms ease-in-out;
}
.start-box p {
  opacity: 0.7;
}

.start-box:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.03);
}

.start-box form {
  display: none;
}

.start-box.open form {
  display: block;
}

.video-wrapper {
  background-color: #000;
  height: 100%;
}

.video-header {
  color: currentColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.video-header a {
  color: currentColor;
  text-decoration: underline;
}

.video-header-inner {
  min-height: var(--header-min-height);
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: center;
}

@media (orientation: landscape) and (max-width: 900px) {
  .video-header {
    top: 0;
    left: 0;
    height: 100%;
    width: 75px;
  }
  .video-header-inner {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

.video-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: var(--footer-min-height);
  padding: 15px 10px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 50px 1fr;
}

.video-footer-right {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: flex-end;
  column-gap: 10px;
}

.record-button,
.video-player-play-button {
  padding: 0;
  margin: 10px auto;
  width: 65px;
  height: 65px;
  background: rgba(0, 0, 0, 0.5);
  border: 4px solid currentColor;
  border-radius: 50%;
  transition: 0.1s border-radius;
  position: relative;
}

.record-button::before {
  content: '';
  display: block;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.record-button.recording::before {
  border-radius: 4px;
  transform: scale(0.4);
}

.video-still-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid currentColor;
  object-fit: cover;
}

.rounded-translucent button,
.rounded-translucent a {
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.video-recording {
  z-index: 1;
}

@media (orientation: landscape) and (max-width: 900px) {
  .video-footer {
    bottom: 0;
    left: auto;
    right: 0;
    width: 75px;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 90px 1fr;
  }

  .video-recording {
    padding-top: 20px;
    align-self: flex-start;
  }

  .video-footer-right {
    align-self: flex-end;
  }
}

.modal {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
  transition: all 0.2s ease-out;
  opacity: 1;
  transform: translate(0, 0);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
.modal-children {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.modal.closed {
  opacity: 0;
  transform: translateX(-30%);
  pointer-events: none;
}

.modal.slide-up.closed {
  transform: translateY(60%);
}
.modal.slide-up .modal-close {
  transform: rotate(-90deg);
}
.modal-actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  display: grid;
  grid-template-columns: 50px auto 50px;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  min-height: var(--header-min-height);
}
.modal-title {
  font-size: 18px;
}

.broadcast-id {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: var(--border-radius);
}
.broadcast-id span {
  opacity: 0.5;
  font-size: small;
  text-transform: uppercase;
}

.blurry-background {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 747.2 726.7" fill="%23427aac"><path d="M539.8 137.6c98.3 69 183.5 124 203 198.4 19.3 74.4-27.1 168.2-93.8 245-66.8 76.8-153.8 136.6-254.2 144.9-100.6 8.2-214.7-35.1-292.7-122.5S-18.1 384.1 7.4 259.8C33 135.6 126.3 19 228.5 2.2c102.1-16.8 213.2 66.3 311.3 135.4z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 60vh 60vh;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-position: 5% 15%;
  height: 100%;
  width: 100%;
  max-width: var(--content-width);
  filter: blur(50px);
  opacity: 0.2;
  pointer-events: none;
}

.watch-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

.watch-form p {
  margin-bottom: 30px;
}
.watch-form h2 {
  font-size: 30px;
}
.watch-form form button {
  margin-left: 10px;
  margin-bottom: 10px;
  min-height: 55px;
  font-size: 20px;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.video-player video {
  flex: 1;
  width: 100%;
}

.video-player-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: var(--header-min-height);
  width: 100%;
}
.video-player-controls input {
  width: 100%;
}
.video-player-controls-bottom {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 50px 1fr;
  padding: 0 10px 10px 15px;
}
.video-player-play-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player-playback-rate {
  border-radius: 50%;
  border-width: 0;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.video-player-step-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video-player-step-back,
.video-player-step-forward {
}

.start-camera {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code-input {
  position: relative;
  overflow: hidden;
}
.code-input-input {
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
}

.code-input-input,
.code-input-ruler {
  font-family: monospace;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: 30px;
}

.code-input-boxes {
  line-height: 0;
}
.code-input-box {
  display: inline-block;
  height: 20px;
  border: 2px solid #666;
  border-radius: var(--border-radius);
}

.code-input-ruler {
  position: fixed;
  left: -100px;
  top: -100px;
  display: inline-block;
  visibility: hidden;
}

.library {
}
.library ul {
  all: unset;
}
.library-item {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: flex-start;
  column-gap: 15px;
  margin-bottom: 20px;
}
.library-item .library-item-main {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 15px;
  line-height: 1.2;
}
.library-item img {
  height: 80px;
  width: 80px;
  border-radius: var(--border-radius);
  object-fit: cover;
}
.library-item h4 {
  font-weight: normal;
  font-size: 14px;
  margin: 0 0 5px;
}
.library-item p {
  font-size: small;
  opacity: 0.7;
  margin: 0;
}

.library-item .library-delete-button {
  transition: opacity .1s;
  color: red;
  justify-self: flex-end;
  line-height: 1.2;
}

.video-info input {
  all: unset;
  color: currentColor;
  font-size: 18px;
  line-height: 22px;
  display: block;
  width: auto;
  text-shadow: 0 0 3px #000;
  text-align: center;
}
